{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper" class="container">
        <div id="container">
			<div id="app">
				<div id="alert" class="alert" :class="type_alert"  role="alert" style="display:none;">
				 ${alert_msg}
				</div>
				<div id="container-action">
					<div class="form-group row">
						<button type="button" v-on:click="moins" class="btn btn-secondary btn-sm decremente-mystere">-</button>
						<input type="text" id="nombre_mystere" name="nombre_mystere" v-model="nombre_mystere" class="form-control form-control-sm" />
						<button type="button" v-on:click="plus" class="btn btn-secondary btn-sm incremente-mystere">+</button>
						
						<button type="button" v-on:click="tester_nombre" class="btn btn-outline-primary btn_aere">Tester</button>
						
						<button type="button" v-on:click="nouveau_nombre" class="btn btn-outline-success btn_aere">Generer un nouveau nombre mystère</button> 
					</div>
					
					<input type="hidden" value="{{signature}}" id="signature"> 
				</div>
				<div id="timeline_container">
					<ul id="timeline"><li v-for="retourapi in retoursapi">Votre proposition ${ retourapi.proposition }<br/>Le nombre mystère est ${ retourapi.complement }</li></ul>
				</div>
				
			</div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}">
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/main.js') }}"></script>
{% endblock %}
