{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
			<div id="app">
				<ul id="timeline"><li v-for="retourapi in retoursapi">${ retourapi.text }</li></ul>
				
				<div>
					<button v-on:click="moins">-</button>
					<input type="text" id="nombre_mystere" name="nombre_mystere" value="0" v-model="nombre_mystere" number />
					<button v-on:click="plus">+</button>

					<button v-on:click="tester_nombre">Tester</button> 
				</div>
			</div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>
</style>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/main.js') }}"></script>
{% endblock %}
